@font-face{
    font-family: "Mona-Sans";
    src: url(OTF/Mona-Sans-SemiBold.otf);
}

@font-face {
    font-family: "Mona-Sans Light";
    src: url(OTF/Mona-Sans-UltraLight.otf);
}

*{
    background-color: #092A65;
    font-family: 'Mona-Sans';
    color: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: black;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #071c3f;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #092A65;
}

.ic {
    width: 30vw;
    position: absolute;
    transform: translate(17vw, 36vh);
    animation: fadeOut 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.t {
    background: none;
    animation: title 4s;
    opacity: 0%;
    transform: translateX(10vw);
    transform: translateY(-7vh);
    font-size: 5vw;
}

.t-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-name {
    animation: promptName 6s;
    font-size: 9vh;
    opacity: 100%;
}

.form-prompt {
    align-self: start;
    transform: translateX(-24vw);
}

.form-prompt h2 {
    padding-top: 5vh;
    padding-bottom: 2vh;
}

#name1 {
    width: 100%;
    animation: promptName 8s;
    justify-self: left;
    outline: none;
    border-right: none;
    border-left: none;
    border-top: none;
    font-size: 4vh;
    height: 5vh;
}

ul {
    padding: 0 3vw;
    height: 7vh;
    list-style-type: none;
}

li {
    transform: translateY(2vh);
    float: left;
    display: block;
}

#org-chem-title {
    margin-left: 38vw;
    float:left;
}

#name2 {
    float: right;
    margin-right: 0;
    padding-right: 0;
}

.v-container {
    background-color: black;
    width:100vw;
    overflow: hidden;
    height: 115vh;
}

.v-container-container {
    background: black;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.v-container-container div {
    background-color: black;
    background: black;
    padding: 3vh 2vw;
}

.v-container-container iframe {
    border-width: 1vw;
    border-radius: 10px;
    border-color: black;
    margin: 2.6vh;
    border-style: solid;
    animation-direction: reverse;
    animation: hoverAnim 1s;
    background: black;
    border: none;
    width: 40vw;
    height: 46vh;
}

.v-container-container iframe:hover {
    animation: hoverAnim 1s ease-in-out;
    border-radius: 10px;
    border-color: green;
}


a {
    text-decoration: none;
}

.v-container h1,h2,h3,h4,h5,h6,p {
    margin-left: 2vw;
    padding-top: 3vh;
    background: transparent;
    margin-bottom: 3vh;
}

#Battle {
    float: left;
    animation: battleAnim 2s;
    animation-iteration-count: infinite;
}

#prog-border {
    transform: translateY(-1vh);
    background: white;
    width: 85vw;
    margin-left: 7vw;
}

#progress-bar {
    height:2vh;
    width:20%;
    background-color: lightgreen;
}

.t2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
    padding-top: 4vh;
}

.t2-container h1 {
    animation: battleAnim 2s;
    animation-iteration-count: infinite;
}

#t2-subtitle {
    animation: battleAnim 2s;
    animation-iteration-count: infinite;
    transform: translateY(-1vh);
    font-weight: 500;
}

#players {
    animation: none;
}

.t2-container h1, h2{
    margin: 0;
}

.stats h2 {
    padding: 0 0vw;
    padding-top: 3vh;
}

#battleform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#battleform button {
    margin-top: 1vh;
    background: black;
    border-radius: 10px;
    border: none;
    height: 10vh;
    font-size: 4vh;
}

#battleform a {
    background: none;
    padding: 3vh 3vw;
    border-radius: 10px;
}

#battleform button:hover {
    background: red;
    color: rgb(red, green, blue);
}

.body {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-btn {
    background: black;
    border: none;
    border-radius: 5px;
    transform: translate(-44vw,-1.5vh);
    padding: 0.5vh 0.5vw;
}

.l-btn:hover {
    cursor: pointer;
    background: green;
}

.l-title {
    font-size: 10vh;
    padding-bottom: 1vh;
}

.space-row {
    background: none;
    height: 2em;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 3vh 6vw;
    margin-bottom: 4vh;
    background: none;
}

.player-row {
    animation: rowAnim 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.player-saved-row {
    background: green;
}

tr {
    background-color: #455c84;
    padding: 5vh 0;
    border-radius: 10px;
    margin: 1vh 0;
    height: 5vh;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centering {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.answer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vw;
    background: black;
    border-radius: 2vh;
    margin: 5vh 5vw;
}

.answer-btns:hover {
    background: green;
    cursor: pointer;
}

.col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes wait {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes title{
    0% {
        transform: translateX(15vw);
        opacity: -20%;
    }
    60% {   
        opacity: 100%;
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(30vw);
        opacity: 0%;
    }
}

@keyframes promptName {
    0% {
        opacity: 0%;
    }
    70% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes battleAnim {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes hoverAnim {
    0% {
        border-color: black;
    }
    100%{
        border-color: green;
    }
}

@keyframes rowAnim {
    0%{
        opacity: 0%;
        transform:translateY(-1vh);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0%{
        opacity: 100;
    }
    100%{
        opacity: 0;
    }
}


.player-row:nth-child(1) {animation-delay: 0.0s; }
.player-row:nth-child(3) {animation-delay: 0.5s; }
.player-row:nth-child(5) {animation-delay: 1.0s; }
.player-row:nth-child(7) {animation-delay: 1.5s; }
.player-row:nth-child(9) {animation-delay: 2.0s; }
.player-row:nth-child(11) {animation-delay: 2.5s; }
.player-row:nth-child(13) {animation-delay: 3.0s; }
.player-row:nth-child(15) {animation-delay: 3.5s; }
.player-row:nth-child(17) {animation-delay: 4.0s; }
.player-row:nth-child(19) {animation-delay: 4.5s; }
.player-row:nth-child(21) {animation-delay: 5.0s; }
.player-row:nth-child(23) {animation-delay: 5.5s; }
.player-row:nth-child(25) {animation-delay: 6.0s; }
.player-row:nth-child(27) {animation-delay: 6.5s; }
.player-row:nth-child(29) {animation-delay: 7.0s; }
.player-row:nth-child(31) {animation-delay: 7.5s; }
.player-row:nth-child(33) {animation-delay: 8.0s; }
.player-row:nth-child(35) {animation-delay: 8.5s; }
.player-row:nth-child(37) {animation-delay: 9.0s; }
.player-row:nth-child(39) {animation-delay: 9.5s; }
.player-row:nth-child(41) {animation-delay: 10.0s; }
.player-row:nth-child(43) {animation-delay: 10.5s; }
.player-row:nth-child(45) {animation-delay: 11.0s; }
.player-row:nth-child(47) {animation-delay: 11.5s; }
.player-row:nth-child(49) {animation-delay: 12.0s; }
.player-row:nth-child(51) {animation-delay: 12.5s; }
.player-row:nth-child(53) {animation-delay: 13.0s; }
.player-row:nth-child(55) {animation-delay: 13.5s; }
.player-row:nth-child(57) {animation-delay: 14.0s; }
.player-row:nth-child(59) {animation-delay: 14.5s; }
.player-row:nth-child(61) {animation-delay: 15.0s; }
.player-row:nth-child(63) {animation-delay: 15.5s; }
.player-row:nth-child(65) {animation-delay: 16.0s; }
.player-row:nth-child(67) {animation-delay: 16.5s; }
.player-row:nth-child(69) {animation-delay: 17.0s; }
.player-row:nth-child(71) {animation-delay: 17.5s; }
.player-row:nth-child(73) {animation-delay: 18.0s; }
.player-row:nth-child(75) {animation-delay: 18.5s; }
.player-row:nth-child(77) {animation-delay: 19.0s; }
.player-row:nth-child(79) {animation-delay: 19.5s; }
.player-row:nth-child(81) {animation-delay: 20.0s; }
.player-row:nth-child(83) {animation-delay: 20.5s; }
.player-row:nth-child(85) {animation-delay: 21.0s; }
.player-row:nth-child(87) {animation-delay: 21.5s; }
.player-row:nth-child(89) {animation-delay: 22.0s; }
.player-row:nth-child(91) {animation-delay: 22.5s; }
.player-row:nth-child(93) {animation-delay: 23.0s; }
.player-row:nth-child(95) {animation-delay: 23.5s; }
.player-row:nth-child(97) {animation-delay: 24.0s; }
.player-row:nth-child(99) {animation-delay: 24.5s; }
.player-row:nth-child(101) {animation-delay: 25.0s; }
.player-row:nth-child(103) {animation-delay: 25.5s; }
.player-row:nth-child(105) {animation-delay: 26.0s; }
.player-row:nth-child(107) {animation-delay: 26.5s; }
.player-row:nth-child(109) {animation-delay: 27.0s; }
.player-row:nth-child(111) {animation-delay: 27.5s; }
.player-row:nth-child(113) {animation-delay: 28.0s; }
.player-row:nth-child(115) {animation-delay: 28.5s; }
.player-row:nth-child(117) {animation-delay: 29.0s; }
.player-row:nth-child(119) {animation-delay: 29.5s; }